body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  border: solid 2px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 15px;
  height: 15px;
}

.apple {
  background-image: url(./apple.png);
  background-size: 100% 100%;
}

.snake {
  background-image: url(./snake.png);
  background-size: 300% 320%;
}

.snake.head {
  animation: tongue 0.1s infinite step-end;
}

.snake.top{
  background-position: 100% 98%;
  transform: rotateZ(180deg);
}
.snake.bottom {
  background-position: 100% 98%;
}

.snake.left {
  background-position: 100% 99%;
  transform: rotateZ(90deg);
}
.snake.right {
  background-position: 100% 99%;
  transform: rotateZ(-90deg);
}

.snake.bottom-right, .snake.left-top {
  background-size: 304% 309%;
  background-position: 50% 50%;
}

.snake.bottom-left, .snake.right-top {
  background-size: 304% 309%;
  background-position: 100% 50%;
}

.snake.top-right, .snake.left-bottom {
  background-size: 304% 309%;
  background-position: 50% 0%;
}

.snake.top-left , .snake.right-bottom {
  background-size: 304% 309%;
  background-position: 100% 0%;
}

.snake.tail{
  background-size: 300% 320%;
  background-position: 50% 98%;
}
.snake.tail.bottom, .snake.tail.right-bottom, .snake.tail.left-bottom {
  transform: rotateZ(180deg);
}
.snake.tail.top, .snake.tail.right-top, .snake.tail.left-top {
  transform: rotateZ(0deg);
}
.snake.tail.left, .snake.tail.top-left, .snake.tail.bottom-left {
  transform: rotateZ(-90deg);
}
.snake.tail.right, .snake.tail.top-right, .snake.tail.bottom-right {
  transform: rotateZ(90deg);
}

@keyframes tongue {
  0% { background-position: 0% 0%; }
  33% { background-position: 0% 50%; }
  66% { background-position: 0% 100%; }
}
